body {
    background: url('../Imagenes/Fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #E0E1DD; /* Color de texto inspirado en la ciencia ficción */
}

h1 {
    color: #FFD700; /* Letras doradas */
    font-size: 28px; /* Tamaño más grande para captar la atención */
    margin-bottom: 20px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

hr {
    animation: fadeIn 2s ease-in-out;
}

h2 {
    color: #003366; /* Azul oscuro */
    font-size: 24px;
    margin-top: 20px;
}

p, ul, li {
    color: #E0E1DD; /* Color de texto inspirado en la ciencia ficción */
    text-align: justify; /* Justificar el texto */
}

a {
    color: #FFD700; /* Color de enlaces dorados */
    text-decoration: none;
}

a:hover {
    color: #1E90FF; /* Azul claro */
    text-decoration: underline;
}

.contenido {
    margin: 0 auto;
    width: 80%; /* Ajusta el ancho según tus necesidades */
    padding: 20px;
    background-color: rgba(34, 76, 141, 0.8); /* Fondo semitransparente para resaltar el texto */
    border-radius: 10px; /* Bordes redondeados */
}

marquee {
    font-size: 24px;
    color: #003366; 
 margin: 20px 0;
	
}


marquee img {
    width: 900px;
    height: auto;
}
.estrategia {
    margin-bottom: 20px;
    border: 2px dashed #FFD700; /* Borde punteado dorado */
    padding: 10px;
    border-radius: 10px;
}

.entrar-derecha {
    animation: entrarDerecha 1s ease-in-out;
}

.entrar-izquierda {
    animation: entrarIzquierda 1s ease-in-out;
}

.volver {
    text-align: left;
    margin-top: 20px;
}

.volver img {
    width: 50px;
    height: auto;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes entrarDerecha {
    from { opacity: 0; transform: translateX(100%); }
    to { opacity: 1; transform: translateX(0); }
}

@keyframes entrarIzquierda {
    from { opacity: 0; transform: translateX(-100%); }
    to { opacity: 1; transform: translateX(0); }
}